<div class="container row text-center staking col-10 mx-auto">
  <h3>FLIPER: <span id="fliperQty"></span></h3>
  <div class="col-12 m-3 border-top">
    <div class="ownTokens"></div>
    <a class="btn btn-primary stakeBtn"><%= t("views.actions.stake") %></a>
  </div>
  <div class="col-12 m-3 border-top">
    <div class="stakedTokens"></div>
    <a class="btn btn-primary unstakeBtn"><%= t("views.actions.claim") %></a>
  </div>
</div>

<%= image_tag "token.png", class: "hide tokenImg" %>